---
import Layout from '~/layouts/PageLayout.astro';
import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Steps from '~/components/widgets/Steps.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import myPhoto from '~/assets/images/IMG_6262.jpg';
import resume from '~/assets/resume.pdf';

const metadata = {
  title: 'Valery Sandler | Web and Mobile Developer',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#' },
        { text: 'About', href: '#about' },
        { text: 'Resume', href: '#resume' },
      ]}
      actions={[
        { text: 'Hire Me', href: 'mailto:valerysandler@gmail.com' },
        {
          text: 'Download Resume',
          href: resume,
          download: 'ValerySandler_Frontend_Fullstack_developer_CV.pdf',
          target: '_blank',
          rel: 'noopener noreferrer',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero Section -->
  <Hero
    id="hero"
    title="Valery Sandler"
    tagline="Full Stack Developer & Technical Problem Solver"
    actions={[{ variant: 'primary', text: 'Contact Me', href: 'mailto:valerysandler@gmail.com' }]}
  >
    <Fragment slot="subtitle">
      I create clean, scalable, and efficient solutions for web and mobile platforms — focusing on performance, UX, and maintainability.
    </Fragment>
  </Hero>

  <!-- About Section -->
  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: 'LinkedIn',
          href: 'https://www.linkedin.com/in/valerysandler/',
        },
      },
      {
        icon: 'tabler:brand-github',
        callToAction: {
          target: '_blank',
          text: 'Github',
          href: 'https://www.github.com/valerysandler',
        },
      },
    ]}
    image={{
      src: myPhoto,
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About Me</h2>
      <p>
        I’m a Full Stack Developer who specializes in building high-performance, scalable web and mobile applications. I focus on both front-end and back-end technologies to create solutions that make a real impact.
      </p>
      <p>
        My experience spans React, Node.js, PostgreSQL, AWS, and more. I work in both frontend and backend development, focusing on delivering efficient and maintainable systems.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Skills Section -->
  <Features3
    title="Skills"
    subtitle="Technologies I use"
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Frontend',
        description:
          'Experienced with React.js, Next.js, and TypeScript. Proficient in HTML5, CSS3, TailwindCSS, and building scalable design systems.',
      },
      {
        title: 'Backend',
        description:
          'Skilled in Node.js, Express, and NestJS. Strong background in API development, including REST and GraphQL, and designing scalable services.',
      },
      {
        title: 'Cloud & DevOps',
        description:
          'Experience with Docker, Kubernetes, CI/CD pipelines, and cloud platforms like AWS and GCP.',
      },
      {
        title: 'Databases',
        description:
          'Proficient in SQL (PostgreSQL, MySQL) and NoSQL (MongoDB, Redis), including schema design and optimization.',
      },
      {
        title: 'Other Tools & Practices',
        description:
          'Version control with Git, WebSockets, message queues (RabbitMQ), and Agile/Scrum for collaborative workflows.',
      },
    ]}
  />

  <!-- Work Experience Section -->
  <Steps
    id="resume"
    title="Work Experience"
    items={[
      {
        title:
          'Full Stack Developer <br /> <span class="font-normal">Israel Defense Forces | Budget Managment App</span> <br /> <span class="text-sm font-normal">2023 - 2024</span>',
        description: `
      Replaced Excel-based workflows with a custom internal system, improving efficiency. <br />
      Designed secure data models and scalable backend logic with modular frontend components. <br />
      Enhanced UI/UX to improve usability and system maintainability across teams.
    `,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Full Stack Developer <br /> <span class="font-normal">FeelThere | Multistreaming Service</span> <br /> <span class="text-sm font-normal">2022 – 2023</span>',
        description: `
      Developed a mobile app with RTMP support for streaming to YouTube, TikTok, and Twitch. <br />
      Implemented OAuth-based authentication and migrated the backend to TypeScript for scalability. <br />
      Refactored server logic, improved performance, and automated releases with CI/CD pipelines.
    `,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl ' }}
  />

  <!-- Call To Action Section -->
  <CallToAction
    title="Let's work together"
    subtitle="I'm available for freelance or full-time opportunities."
    actions={[{ variant: 'primary', text: 'Contact Me', href: 'mailto:valerysandler@gmail.com' }]}
  />
</Layout>
