---
import { Swiper, SwiperSlide } from 'swiper/react';
import 'swiper/css';

const { images = [], title = '' } = Astro.props;
---

<Swiper
  spaceBetween={10}
  slidesPerView={1}
  loop={true}
  className="w-full h-64 rounded-t-xl"
>
  {Array.isArray(images) && images.length > 0 ? (
    images.map((img, idx) => (
      <SwiperSlide>
        <img
          src={img}
          alt={`${title} slide ${idx + 1}`}
          class="w-full h-64 object-cover"
          loading="lazy"
        />
      </SwiperSlide>
    ))
  ) : (
    <SwiperSlide>
      <div class="w-full h-64 bg-gray-100 flex items-center justify-center text-gray-500">
        No images found
      </div>
    </SwiperSlide>
  )}
</Swiper>
